@charset "UTF-8";
.active-tab .tab-item__text, .active-tab .tab-item__icon, .tab-item.active-tab, .link-contact:focus:after, .menu__item:focus:after, .nav, .burger__button._active .burger__button_vector2, .burger__button._active .burger__button_vector1, .burger__button:hover .burger__button_vector1,
.burger__button:hover .burger__button_vector2, .burger__button:hover {
  transition: all 0.5s ease-out;
}

.box img, .card__preview, .tab-item__icon, .tab-item, .about__box img, .link-contact:after, .button-icon-light, .burger__button_vector2, .burger__button_vector1, .burger__button, .text__ap, .text__av, .apple__text, .apple__icon, .button__app, .button-icon-dark, .offer__button img, .offer__button__text {
  transition: all 0.3s ease-out;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*--------------------*/
/* ********* */
html {
  scroll-behavior: smooth;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background-color: #E1D4C9;
  color: #403F3D;
}

.body {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

.offer__button {
  display: flex;
  width: 200px;
  padding: 32px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #E1D4C9;
  color: #403F3D;
  cursor: pointer;
  position: relative;
}

.offer__button__text {
  display: block;
  position: absolute;
  left: 40%;
  color: #403F3D;
  text-align: center;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.offer__button img {
  opacity: 0;
  transition: all 0.2s ease-out;
  display: block;
  position: absolute;
  left: 58%;
}

@media (hover: hover) {
  .offer__button:hover img {
    opacity: 1;
  }
}
@media (hover: hover) {
  .offer__button:hover .offer__button__text {
    display: block;
    position: absolute;
    left: 32%;
  }
}
@media (max-width: 768px) {
  .offer__button img {
    opacity: 1;
  }
  .offer__button .offer__button__text {
    display: block;
    position: absolute;
    left: 32%;
  }
}
.button-icon-dark {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665F55;
  cursor: pointer;
  background-color: #E1D4C9;
}
@media (max-width: 750px) {
  .button-icon-dark {
    display: none;
  }
}

@media (hover: hover) {
  .button-icon-dark:hover {
    background-color: #665F55;
  }
  .button-icon-dark:hover svg {
    fill: #E1D4C9;
  }
  .button-icon-dark:hover svg path {
    stroke: #E1D4C9;
  }
  .button-icon-dark.refresh:hover svg {
    fill: #665F55;
  }
}
.arrow__left,
.arrow__right {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.slider__controls {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.slider__control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
}

.active {
  background: #665F55;
}

/* app-buttons */
.app__buttons {
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  .app__buttons {
    align-items: flex-start;
  }
}
@media (max-width: 750px) {
  .app__buttons {
    flex-direction: column;
  }
}

.button__app {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #665F55;
  cursor: pointer;
}

@media (hover: hover) {
  .button__app:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }
  .button__app:hover svg path {
    fill: #E1D4C9;
  }
  .button__app:hover .text__av, .button__app:hover .text__ap {
    color: #E1D4C9;
  }
}
.apple__icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.apple__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.text__av {
  color: #403F3D;
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  font-style: normal;
}

.text__ap {
  color: #403F3D;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.wrapper {
  display: flex;
  max-width: 1440px;
  padding: 20px 40px 40px 40px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}
@media (max-width: 380px) {
  .wrapper {
    max-width: 380px;
    padding: 20px 16px 40px 16px;
  }
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  width: 100%;
}
.header._locked {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background-color: #E1D4C9;
  padding: 20px 40px;
}

.body._hidden {
  overflow: hidden;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo {
  width: 100px;
  height: 60px;
}

.burger__button {
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665F55;
  display: none;
  background-color: #E1D4C9;
}
@media (max-width: 768px) {
  .burger__button {
    display: flex;
  }
}
.burger__button:hover {
  background-color: #665F55;
}
.burger__button:hover .burger__button_vector1,
.burger__button:hover .burger__button_vector2 {
  background-color: #E1D4C9;
}
.burger__button._active .burger__button_vector1 {
  top: 50%;
  transform: rotate(-45deg) translate(0%, 0%);
}
.burger__button._active .burger__button_vector2 {
  top: 50%;
  transform: rotate(45deg) translate(0%, 0%);
}

.burger__button_icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
}

.burger__button_vector1 {
  bottom: 35%;
  display: block;
  width: 16px;
  height: 2px;
  background-color: #403F3D;
  position: absolute;
}

.burger__button_vector2 {
  top: 35%;
  display: block;
  width: 16px;
  height: 2px;
  background-color: #403F3D;
  position: absolute;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  margin-left: -35px;
  align-self: stretch;
}
@media (max-width: 768px) {
  .nav {
    position: absolute;
    left: 1000px;
    width: 0px;
  }
  .nav._active {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    margin: 0;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: #E1D4C9;
  }
}

.menu__list {
  display: flex;
  list-style: none;
  gap: 40px;
  width: 100%;
  position: relative;
  justify-content: center;
}
@media (max-width: 768px) {
  .menu__list {
    opacity: 0;
    position: fixed;
    top: 160px;
    left: 0px;
    gap: 60px;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
  }
  .menu__list._active {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: initial;
}

.menu__item {
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 600;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
}
.menu__item a {
  color: #403F3D;
  font-family: Inter;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 768px) {
  .menu__item a {
    font-size: 3.2rem;
    line-height: 125%;
    font-weight: 600;
    font-style: normal;
  }
}
@media (max-width: 768px) {
  .menu__item {
    width: fit-content;
  }
}

.menu__item:after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width: 0;
  height: 0px;
  background: #403F3D;
  content: "";
  transition: all 0.2s ease-out;
}

.menu__item:focus:after {
  width: 100%;
}

@media (hover: hover) {
  .menu__item:hover:after {
    width: 100%;
    height: 2px;
  }
}
.coffee-menu {
  position: absolute;
  right: 0;
}
@media (max-width: 768px) {
  .coffee-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 10px;
  }
}

.coffee-menu a {
  display: flex;
  position: relative;
  right: 0px;
  top: 2px;
  gap: 10px;
}
@media (max-width: 768px) {
  .coffee-menu a {
    display: flex;
    position: initial;
    right: 0px;
    top: 2px;
    gap: 20px;
    color: #403F3D;
    font-family: Inter;
    font-size: 3.2rem;
    line-height: 125%;
    font-weight: 600;
    font-style: normal;
  }
}

.coffee-menu img {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  .coffee-menu img {
    width: 40px;
    height: 40px;
  }
}

.nonactive {
  pointer-events: none;
}

.nonactive:after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #403F3D;
  content: "";
}

/* header */
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.footer__container {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-radius: 40px;
  background: #665F55;
}
@media (max-width: 992px) {
  .footer__container {
    padding: 100px 60px;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
  }
}
@media (max-width: 750px) {
  .footer__container {
    padding: 60px 16px;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    gap: 40px;
  }
}

.footer__offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
@media (max-width: 992px) {
  .footer__offer {
    align-self: stretch;
  }
}

.footer__text {
  color: #E1D4C9;
  font-size: 6rem;
  line-height: 125%;
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 750px) {
  .footer__text {
    align-self: stretch;
    font-size: 3.2rem;
    line-height: 125%;
    font-weight: 600;
    font-style: normal;
  }
}
.footer__text span {
  color: #B0907A;
  font-style: italic;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.button-icon-light {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
  background-color: #665F55;
}

@media (hover: hover) {
  .button-icon-light:hover {
    background-color: #E1D4C9;
  }
  .button-icon-light:hover svg {
    transform: translate(-5%, -5%);
  }
  .button-icon-light:hover svg path {
    stroke: #403F3D;
  }
}
.btn-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
@media (max-width: 992px) {
  .footer__contacts {
    align-self: stretch;
  }
}

.contacts__text {
  color: #E1D4C9;
  font-size: 2.4rem;
  line-height: 125%;
  font-weight: 600;
  font-style: normal;
  align-self: stretch;
}

.contacts__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.link-item__link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.pin-alt {
  width: 20px;
  height: 20px;
}

.pin-text {
  color: #E1D4C9;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.link-contact {
  position: relative;
}

.link-contact:after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  bottom: -4px;
  height: 2px;
  background: #E1D4C9;
  content: "";
}

.link-contact:focus:after {
  width: 100%;
}

@media (hover: hover) {
  .link-contact:hover:after {
    width: 100%;
  }
}
/* footer */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.hero__intro {
  position: relative;
  height: 644px;
  overflow: hidden;
  width: 100%;
  border-radius: 40px;
  background: url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__video {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.video__media {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(100%);
  object-fit: cover;
}

.hero__container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-shrink: 1;
  width: 100%;
  height: 644px;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 40px;
  background: url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 992px) {
  .hero__container {
    padding: 100px 60px;
  }
}
@media (max-width: 750px) {
  .hero__container {
    padding: 60px 16px;
  }
}

.offer {
  position: relative;
  display: flex;
  width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  z-index: 10;
}
@media (max-width: 750px) {
  .offer {
    width: 100%;
  }
}

.offer__title {
  align-self: stretch;
  color: #B0907A;
  font-size: 7.2rem;
  line-height: 105%;
  font-weight: 600;
  font-style: italic;
}
.offer__title span {
  color: #E1D4C9;
  font-style: normal;
}
@media (max-width: 750px) {
  .offer__title {
    font-size: 4.2rem;
    line-height: 115%;
    font-weight: 600;
    font-style: italic;
  }
}

.offer__text {
  align-self: stretch;
  color: #E1D4C9;
  line-height: 150%; /* 24px */
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter[slnt,wght].woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-Regular.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 400;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-Italic.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 100;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-Thin-BETA.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 100;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-ThinItalic-BETA.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 200;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraLight-BETA.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 200;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraLightItalic-BETA.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 300;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-Light-BETA.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 300;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-LightItalic-BETA.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-Medium.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 500;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-MediumItalic.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 600;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-SemiBold.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 600;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-SemiBoldItalic.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-Bold.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 700;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-BoldItalic.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 800;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 800;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraBoldItalic.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 900;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-Black.woff) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 900;
  src: local("Inter"), url(https://fonts.cdnfonts.com/s/19795/Inter-BlackItalic.woff) format("woff");
}
/* favorite-coffee */
.favorite-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.favorite-coffee__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.favorite-coffee__title {
  align-self: stretch;
  text-align: center;
  font-size: 6rem;
  line-height: 125%;
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 750px) {
  .favorite-coffee__title {
    font-size: 3.2rem;
    line-height: 125%;
    font-weight: 600;
    font-style: normal;
  }
}
.favorite-coffee__title span {
  color: #B0907A;
  font-style: italic;
}

.favorite-coffee__slider {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.slider__pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.row-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.slide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide__content {
  display: flex;
  max-width: 480px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.coffee-slider-1 {
  height: 480px;
}
@media (max-width: 750px) {
  .coffee-slider-1 {
    height: 348px;
  }
}

.coffee-slider-1 img {
  height: 100%;
}

.slider__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.slider__title {
  align-self: stretch;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.slider__text {
  text-align: center;
  line-height: 150%; /* 24px */
}

.slider__price {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

/* favorite-coffee */
/* about */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.about__text {
  font-size: 6rem;
  line-height: 125%;
  font-weight: 600;
  font-style: normal;
  align-self: stretch;
  letter-spacing: -0.1px;
}
@media (max-width: 750px) {
  .about__text {
    font-size: 3.2rem;
    line-height: 125%;
    font-weight: 600;
    font-style: normal;
  }
}

.about__text span {
  color: #B0907A;
  font-style: italic;
}

.about__images {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
@media (max-width: 768px) {
  .about__images {
    flex-direction: column;
    align-items: center;
  }
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

@media (max-width: 768px) {
  .column2 {
    display: none;
  }
}

.about__box {
  width: 660px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .about__box {
    height: 590px;
    align-self: stretch;
    width: 100%;
  }
}

.about1,
.about4 {
  height: 590px;
}
@media (max-width: 992px) {
  .about1,
  .about4 {
    flex-shrink: 0;
  }
}

.about2,
.about3 {
  height: 430px;
}
@media (max-width: 992px) {
  .about2,
  .about3 {
    flex-shrink: 0;
    height: 590px;
  }
}

.about__box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(100%);
  object-fit: cover;
}

@media (hover: hover) {
  .about__box img:hover {
    transform: translate(-50%, -50%) scale(90%);
  }
}
/* about */
/* app */
.mobile-app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
}
@media (max-width: 750px) {
  .mobile-app {
    align-self: auto;
    width: 100%;
  }
}

.app__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex: 1 0 0;
}
@media (max-width: 1360px) {
  .app__container {
    flex-direction: column;
  }
}
@media (max-width: 750px) {
  .app__container {
    gap: 40px;
  }
}

.app__offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  width: 100%;
}

.app__screens {
  width: 630px;
  height: 630px;
  background: url(../images/mobile-screens.png), #E1D4C9 50%/cover no-repeat;
}
@media (max-width: 750px) {
  .app__screens {
    max-width: 100%;
    max-height: 348px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.app__title {
  color: #B0907A;
  font-size: 6rem;
  line-height: 125%;
  font-weight: 600;
  font-style: italic;
}
@media (max-width: 750px) {
  .app__title {
    font-size: 3.2rem;
    line-height: 125%;
    font-weight: 600;
    font-style: normal;
  }
}

.app__title span {
  color: #403F3D;
  font-style: normal;
}

.app__text {
  line-height: 150%; /* 24px */
}

/* app */
/* main */
.menu-wrapper {
  gap: 0px;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  padding-bottom: 100px;
  padding-top: 20px;
}
@media (max-width: 1360px) {
  .main {
    align-items: flex-start;
    gap: 40px;
  }
}

.main__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
@media (max-width: 1360px) {
  .main__container {
    align-items: center;
  }
}

.main__container__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.main__title {
  width: 800px;
  text-align: center;
  font-size: 6rem;
  line-height: 125%;
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 1360px) {
  .main__title {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .main__title {
    align-self: stretch;
    font-size: 3.2rem;
    line-height: 125%;
    font-weight: 600;
    font-style: normal;
  }
}
.main__title span {
  color: #B0907A;
  font-size: 60px;
  line-height: 125%;
  font-weight: 600;
  font-style: italic;
}
@media (max-width: 750px) {
  .main__title span {
    font-size: 3.2rem;
    line-height: 125%;
    font-weight: 600;
    font-style: normal;
  }
}

.main__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}
@media (max-width: 1360px) {
  .main__tabs {
    gap: 16px;
  }
}
@media (max-width: 750px) {
  .main__tabs {
    gap: 8px;
  }
}

.tab-item {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
}

.tab-item.active-tab {
  cursor: auto;
}

.tab-item.active-tab {
  background: #665F55;
}

@media (hover: hover) {
  .tab-item:hover {
    background: #665F55;
  }
}
.tab-item__icon {
  display: flex;
  padding: 5px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #C1B6AD;
}
@media (max-width: 750px) {
  .tab-item__icon {
    padding: 5px 6px;
  }
}
@media (max-width: 992px) {
  .tab-item__icon {
    padding: 6px 6px;
  }
}

.active-tab .tab-item__icon {
  background: #E1D4C9;
}

@media (hover: hover) {
  .tab-item:hover .tab-item__icon {
    background: #E1D4C9;
  }
}
.icon__image {
  color: #403F3D;
  text-align: center;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.tab-item__text {
  color: #403F3D;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.2s ease-in-out;
}

.active-tab .tab-item__text {
  color: #E1D4C9;
}

@media (hover: hover) {
  .tab-item:hover .tab-item__text {
    color: #E1D4C9;
  }
}
/* grid */
.main__container__grid {
  display: flex;
  height: 1052px;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  align-self: stretch;
}
@media (max-width: 750px) {
  .main__container__grid {
    height: 2144px;
  }
}

.card__preview {
  flex: 0 0 20%;
  width: 310px;
  display: flex;
  height: 506px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
}

.box {
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(100%);
  object-fit: cover;
}

@media (hover: hover) {
  .card__preview:hover .box img {
    transform: translate(-50%, -50%) scale(90%);
  }
}
.card__description {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.card__text__title {
  align-self: stretch;
  color: #403F3D;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.card__text__text {
  align-self: stretch;
  color: #403F3D;
  line-height: 150%; /* 24px */
}

.card__price {
  color: #403F3D;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.refresh {
  display: none;
  padding: 2rem;
}
@media (max-width: 1360px) {
  .refresh {
    display: flex;
  }
}

.button-icon-dark_refresh {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/*# sourceMappingURL=style.css.map */
