$--text-dark: #403F3D;
$--text-light: #E1D4C9;
$--text-accent: #B0907A;
$--background-body: #E1D4C9;
$--background-container: #665F55;
$--background-backdrop:#403F3D;
$--border-dark: #665F55;
$--border-light: #C1B6AD;


$desktop-width: 1440px;
$breakpoint1360-width: 1360px;
$breakpoint992-width: 992px;
$tablet-width: 768px;
$breakpoint750-width: 750px;
$mobile-width: 380px; 
