@mixin font ($size:1rem, $height:125%, $weight:600, $style:normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin media-desktop1440 {
  @media(max-width: $desktop-width) { @content; }
}

@mixin media-1360 {
  @media(max-width: $breakpoint1360-width) { @content; }
}

@mixin media-992 {
  @media(max-width: $breakpoint992-width) { @content; }
}

@mixin media-tablet768 {
  @media(max-width: $tablet-width) { @content; }
}

@mixin media-750 {
  @media(max-width: $breakpoint750-width) { @content; }
}

@mixin media-mobile380 {
  @media(max-width: $mobile-width) { @content; }
}

