body,
form {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  opacity: 0.5;
}

input:invalid {
  border: 1px solid red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, beige);
}

input:valid {
  border: 1px solid black;
}

button.active {
  border: 1px solid red;
  opacity: 1;
  cursor: pointer;
}

button.active:hover {
  color: green;
}

.tooltip {
  font-size: medium;
  color: palevioletred;
}

.hidden {
  display: none;
}

