/* footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.footer__container {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-radius: 40px;
  background: $--background-container;
  @include media-992 {
    padding: 100px 60px;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
  }
  @include media-750 {
    padding: 60px 16px;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    gap: 40px;
  }
}

.footer__offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  @include media-992 {
    align-self: stretch;
  }
}

.footer__text {
  color: $--text-light;
  @include font(6rem, 125%, 600);
  @include media-750 {
    align-self: stretch;
    @include font(3.2rem, 125%, 600);
  };
  & span {
    color: $--text-accent;
    font-style: italic;
  };
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.button-icon-light {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid $--border-light;
  cursor: pointer;
  background-color: $--background-container;
  @extend %transition-out;
  
}

@media (hover:hover) {
  .button-icon-light {
    &:hover {
      background-color: $--background-body;
      // @extend %transition-hover;
    };
    &:hover svg {
      transform: translate(-5%, -5%);
      // @extend %transition-hover;
    };
    &:hover svg path {
      stroke: $--text-dark;
      // @extend %transition-hover;
    }
  }
}




.btn-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  @include media-992 {
    align-self: stretch;
  }
}

.contacts__text {
  color: $--text-light;
  @include font(2.4rem, 125%, 600);
  align-self: stretch;
}

.contacts__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.link-item__link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.pin-alt {
  width: 20px;
  height: 20px;
}

.pin-text {
  color: $--text-light;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.link-contact {
  position: relative;
}

.link-contact:after {
	display: block;
	position: absolute;
	left: 50%;
  transform: translateX(-50%);
	width: 0;
  bottom: -4px;
	height: 2px;
	background: $--text-light;
	content: "";
	@extend %transition-out; 
}

.link-contact:focus:after {
	width: 100%; 
  @extend %transition-hover;
}

@media (hover:hover) {
  .link-contact:hover:after {
	width: 100%; 
  // @extend %transition-hover;
}
}

/* footer */