

/* header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  width:100%;
  &._locked {
    position: fixed;
    top:0;
    left:0;
    z-index: 20;
    width: 100%;
    background-color: $--background-body;
    padding: 20px 40px; 
    @include media-mobile380 {
      padding: 20px 20px;
    }
  }
}

.body._hidden {
  overflow: hidden;
  // height: 100%;
  // position: relative;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;

}



.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  

}

.logo {
  width: 100px;
  height: 60px;
}

.burger__button {
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid $--border-dark;
  display:none;
  background-color: $--background-body;
  @extend %transition-out;
  @include media-tablet768 {
    display:flex;
  }
  &:hover {
    background-color: $--border-dark;
    @extend %transition-hover;
    & .burger__button_vector1, 
      .burger__button_vector2 {
      background-color: $--background-body;
      @extend %transition-hover;
    }
  }
  &._active .burger__button_vector1 {
    top: 50%;
    transform: rotate(-45deg) translate(0%, 0%);
    @extend %transition-hover;
  } 
  &._active .burger__button_vector2 {
    top: 50%;
    transform: rotate(45deg) translate(0%, 0%);
    @extend %transition-hover;
  }
}

.burger__button_icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
}

.burger__button_vector1 {
  bottom: 35%;
  display: block;
  width: 16px;
  height: 2px;
  background-color: $--text-dark;
  position: absolute;
  @extend %transition-out;
}

.burger__button_vector2 {
  top: 35%;
  display: block;
  width: 16px;
  height: 2px;
  background-color: $--text-dark;
  position: absolute;
  @extend %transition-out;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  margin-left: -35px;
  align-self: stretch;
  @extend %transition-hover;
  @include media-tablet768 {
  position: absolute;
  top:90px;
  right: -1000px;
  width:0px; 
  height: 100vh;
  transition: all .4s ease-out;
  background-color: $--background-body;
  z-index: 20;
  &._active {
    // display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    margin: 0;
    top:90px;
    right: 0;
    width:100%;    
    transition: all .4s ease-out;
  }
  };

}

.menu__list {
  display: flex;
  list-style: none;
  gap: 40px;
  width: 100%;
  position: relative;
  justify-content: center;
  transition: all .4s ease-out;
  @include media-tablet768 {
    // opacity: 0;
    position: fixed;
    // top:160px;
    // left:0px;
    // gap:60px;
    transition: all .4s ease-out;
    // padding-top:160px;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    width: 0;
    &._active {
      // opacity: 0;
    position: fixed;
    top:160px;
    // left:0px;
      gap:60px;
      opacity: 1;
      transition: all .4s ease-out;
      width: 100%;
    }
    };
}

a {
  text-decoration: none;
  color:initial;
}

.menu__item {
  @extend %transition-out;
  @include font(1.6rem, 150%, 600);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  & a {
    color: $--text-dark;
    font-family: Inter;
    @include font(1.6rem, 150%, 600);
    @include media-tablet768 {
      transition: all .4s ease-out;
      @include font(3.2rem, 125%, 600);
    }
  };
  @include media-tablet768 {
    width: fit-content;
  }
}


.menu__item:after {
	display: block;
	position: absolute;
	left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
	width: 0;
	height: 0px;
	background: #403F3D;
	content: "";
	transition: all 0.2s ease-out; 
}

.menu__item:focus:after {
	width: 100%; 
  @extend %transition-hover;
}

@media (hover:hover) {
  .menu__item:hover:after {
	width: 100%; 
  height: 2px;
}
}

.coffee-menu {
  position: absolute;
  right: 0;
  @include media-tablet768 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 10px;
  }
}

.coffee-menu a {
  display: flex;
  position: relative;
  right: 0px;
  top:0px;
  gap: 10px;
  @include media-tablet768 {
    display: flex;
    position: initial;
    right: 0px;
    top:0px;
    gap: 20px;
    color: $--text-dark;
    font-family: Inter;
    @include font(3.2rem, 125%, 600);
  }
}

.coffee-menu img {
  width: 20px;
  height: 20px;
  @include media-tablet768{
    width: 40px;
    height: 40px;
  }
}

.nonactive {
pointer-events: none;
}

.nonactive:after {
  display: block;
	position: absolute;
	left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
	width: 100%;
	height: 2px;
	background: #403F3D;
	content: "";
}


@include media-tablet768 {
  .nonactive {
    pointer-events: all;
    &:after {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0px;
      width: 0;
      height: 0px;
      background: #403F3D;
      content: "";
      transition: all 0.2s ease-out; 
    }
  }
}

/* header */