
.wrapper {
  display: flex;
  max-width: $desktop-width;
  padding: 20px 40px 40px 40px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin: 0 auto;
  // @include media-992 {
  //   max-width: $tablet-width;
  // };
  // @include media-750 {
  //   max-width: $mobile-width;
  //   padding: 20px 16px 40px 16px;
  // };

  @include media-tablet768 {
    max-width: $tablet-width;
  };
  @include media-mobile380 {
    max-width: $mobile-width;
    padding: 20px 16px 40px 16px;
  };
}